body {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 85px;
    line-height: 1em;
    text-align: left;
      color: rgb(223, 55, 55);
  
  }
  
  a {
    color: rgb(223, 55, 55);
    text-decoration: none;
  
  }
  
  a:hover{
    text-decoration: underline;
      color: rgb(223, 55, 55);
  
  
  }
  
  a:visited{
    text-decoration: none;
    color: rgb(223, 55, 55);
  }
  
  #container {
    background-color: pink;
    margin: 0;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  div {
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 20px;
    margin: 5px; 
  
  
  }
  
  .link {
    border: 1px solid rgb(223, 55, 55);
    color: rgb(223, 55, 55);
    background-color: pink;
    text-decoration: none;
    transition: 0.1s;
  }
  
  .link:hover {
    background-color: white;
  }