*{
	margin:0;
	padding:0;
	overflow: hidden;
}


img {
	width: 350px;
	position: absolute;
}

.plastic {
	top: 10%;
	left: 60%;
}

.song {
	top: 50%;
	left: 70%;
}

.food{
	top: 20%;
	left: 0%;

}

.man {
	top: 70%;
	left: 40%;
	z-index: 10;
}

h1{
	width: 50%;
	text-align: center;
	margin:35px auto;
	padding:14px;
	color:red;
	background:yellow;
	font-family: helvetica;
	font-weight: bold;
	text-transform: uppercase;
}

select{
	font-size:35px;
	margin:14px;
}















